
.app-container {
  display: flex;
  height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  display: flex;
}

.video-list{
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  margin-top: 8px;
}

.video-list ul {
  list-style: none;
  padding: 0;
}

.video-list li {
  padding: 8px;
  cursor: pointer;
  border-bottom : 1px solid #ddd;
}

.video-list li:hover {
  background-color: #ddd;;
}

.video-display {
  flex: 1;
  padding: 10px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.grid-item {
  width: 100%;
  height: 100%;
}

.grid-item video {
  width: 100%;
  height: 100%;
}

.selected-video {
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100%;
}

.selected-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empty-section {
  flex: 1;
  height: 90px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  background-color: #ddd;
  align-items: center;
}